<?xml version='1.0' encoding='utf-8'?>
<widget id="com.auraglobe.gpstracker" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>GPS Tracker Pro</name>
    <description>
        Realtime GPS Tracking with Firebase Integration and Background Support.
    </description>
    <author email="jariftahmid10@gmail.com" href="#">
        Md. Jarif Tahmid
    </author>

    <content src="index.html" />

    <access origin="*" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <allow-navigation href="*" />

    <plugin name="cordova-plugin-geolocation" spec="~4.1.0" />
    <plugin name="cordova-plugin-background-mode" spec="~0.7.3" />
    <plugin name="cordova-plugin-battery-status" spec="~2.0.3" />
    <plugin name="cordova-plugin-androidx-adapter" />

    <platform name="android">
        <preference name="KeepRunning" value="true" />
        <preference name="AndroidXEnabled" value="true" />
        
        <config-file target="AndroidManifest.xml" parent="/*">
            <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
            <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
            <uses-permission android:name="android.permission.ACCESS_BACKGROUND_LOCATION" />
            <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
            <uses-permission android:name="android.permission.WAKE_LOCK" />
            <uses-permission android:name="android.permission.REQUEST_IGNORE_BATTERY_OPTIMIZATIONS" />
        </config-file>

        <icon src="res/icon.png" />
    </platform>

    <preference name="DisallowOverscroll" value="true" />
    <preference name="BackgroundColor" value="0xff111111" />

</widget>